:global {
  @require '../reset'
  body {
    background: #0B0B17;
  }
}

$overlay = rgba(0,0,0,0.65)

.app
  color: white
  font-family: 'Didact Gothic', Helvetica Neue, Helvetica, Segoe UI, Ubuntu, Arial
  background-size: cover
  background-image: linear-gradient(to bottom, $overlay, $overlay), url(../../images/background.jpg)
  min-height: 100vh
  min-width: 100vw
  display: flex
  flex-direction: column

  &__content
    flex: 1 0
    display: flex
    flex-direction: row
    overflow: hidden
