$size = 100px
.author
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  position: absolute
  top: -($size/2)
  right: 4em

  &__image
    border-radius: 100%
    width: $size
    height: $size

  &__name
    font-size: 2em
    margin-top: 0.5em
