.navbar
  color: black
  list-style: none
  display: flex
  margin: 0 2em
  transform: translateY(-50%)

  &__button
    cursor: pointer
    margin-right: 1em
    padding: 0.3em
    font-size: 2em
    display: flex
    align-items: center
    justify-content: center
    background: #EEEEEE
    border-radius: 100%
    box-shadow: 0 0 20px -5px black
